
<div class="sentence">
  <p><%= @question %></p>
  <em>-You</em>
</div>
<div class="sentence coach">
  <% if @question == 'I am going to work' %>
  <p>Great !</p>
  <% elsif @question.last == '?' %>
  <p>Silly question, get dressed and go to work!</p>
  <% else %>
  <p>I don't care, get dressed and go to work !</p>
  <% end %>
  <em>-Your coach</em>
</div>
<%= link_to "Ask another Question", "/ask" %>
