<p>Ask your coach anything:</p>
<div class="form">
  <form action="/answer" method="get">
    <input type="text" name="question" value="<%= params[:question] %>" id="form">
    <input type="submit" value="Ask" id='button'>
  </form>
</div>
